<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Query form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>
<div id="queryForm">
    <form action="#" th:action="@{/attribs}" th:object="${attributeObject}" method="post">
        <div class="form-group">
            <label for="ZoneName1">Enter zone name</label>
            <input type="text" class="form-control" id="ZoneName1" rows="3" th:field="*{zoneName}"/>
        </div>
        <div class="form-group">
            <label for="AttributeName1">Enter attribute name</label>
            <input type="text" class="form-control" id="AttributeName1" rows="3" th:field="*{attributeName}"/>
        </div>
        <div class="form-group">
            <label for="TypeSelect1">Enter attribute type</label>
            <select class="form-control" id="TypeSelect1" th:field="*{attributeType}">
                <option th:value="Boolean" th:text="Boolean"></option>
                <option th:value="Double" th:text="Double"></option>
                <option th:value="Int" th:text="Int"></option>
                <option th:value="String" th:text="String"></option>
                <option th:value="Time" th:text="Time"></option>
                <option th:value="Duration" th:text="Duration"></option>
                <option th:value="Contact" th:text="Contact"></option>
                <option th:value="Query" th:text="Query"></option>
                <option th:value="List" th:text="List"></option>
                <option th:value="Set" th:text="Set"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="TypeSelect1">Enter optional complex type</label>
            <input type="text" class="form-control" id="ComplexType1" rows="3" th:field="*{attributeComplexType}"/>
            <small id="passwordHelpBlock" class="form-text text-muted">
                If set or list was chosen in the previous option, please enter whole nested type as a comma-separated list, including wrapper type speccified above. Example: [List, Set, String]
            </small>
        </div>
        <div class="form-group">
            <label for="Textarea1">Enter attribute value</label>
            <textarea class="form-control" id="Textarea1" rows="3" th:field="*{valueString}"></textarea>
            <small id="attributeValueHelpBlock" class="form-text text-muted">
                Use Json list for complex types and stick to proper format in duration and time. <br> Examples: <br>
                Time: 3600 <br>
                Duration (version 1): 3600 <br>
                Duration (version 2): +0 00:00:00.001 <br>
                Contact: { "contactName" : [ 1, 1, 1, 1 ] } <br>
                Query: { "&queryName" : "query" } <br>
                List: [ 1, 2, 3 ] <br>
                Set: [ [1, 2], [3, 4], [5, 6] ] <br>
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
